.page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100vh - 70px);
  justify-content: flex-start;
  padding-bottom: 40px;
  width: 100%;
  .page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }
  .error-page,
  .login-page,
  .signup-page {
    justify-content: center;
  }
  .content {
    align-items: flex-start;
  }
  .page-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
  }
  .page-col.col-left {
    background-color: #f7f7f7;
    height: 100%;
    width: 250px;
  }
  .page-col.col-right {
    width: calc(100% - 250px);
  }
  .page-content-actions-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    // padding: 10px;
    width: 100%;
    .content-nav-link {
      align-items: center;
      background-color: #e7e7e7;
      border: 1px solid #ddd;
      color: #333;
      display: flex;
      font-weight: 500;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 30px;
      justify-content: center;
      text-transform: capitalize;
      width: 100%;
      &:hover {
        background-color: #94bc19;
        border: solid 1px #94bc19;
        color: #fff;
      }
    }
  }
}
.homepage,
.login,
.signup {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage {
  background-image: url('../media/macbook.jpg');
}
.login {
  background-image: url('../media/coder.jpg');
}
.signup {
  background-image: url('../media/code.jpg');
}
.pagenotfound {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .image img {
    width: 300px;
  }
  .text {
    color: #333;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2;
  }
  .text a {
    color: #333;
    font-weight: 500;
  }
  .text a:hover {
    color: #94bc19;
  }
}
.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 20px;
  h1 {
    border: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  form.signup-login {
    display: block;
    width: 100%;
    .field-row.title {
      width: 100%;
      h3 {
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1em;
        margin-bottom: 10px;
        text-transform: none;
      }
    }
    .field-row.input {
      margin-bottom: 10px;
      width: 100%;
      input[type = text],
      input[type = date],
      input[type = email],
      input[type = password] {
        border: solid 1px rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        color: rgb(255, 255, 255);
        font-size: 1em;
        line-height: 1em;
        padding: 6px;
        width: 100%;
        &::placeholder {
          color: #fff;
        }
      }
    }
    .field-row.input.name {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .width-50 {
        width: calc(50% - 5px);
        input[type = text] {
          width: 100%;
        }
      }
    }
    .field-row.button {
      width: 100%;
      button[type = submit] {
        border: solid 1px rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1em;
        padding: 10px 30px;
        text-transform: uppercase;
        &:hover {
          background-color: #94bc19;
          border: solid 1px #94bc19;
        }
      }
    }
  }
}