.footer-container,
.footer-wrapper {
  align-items: center;
  background-color: #444;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: center;
  position: absolute;
  width: 100%;
  .footer-wrapper {
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    .logo-container {
      height: 100%;
      padding-right: 10px;
      width: auto;
      .logo-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: flex-start;
        width: auto;
        .logo-link {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          height: 100%;
          justify-content: flex-start;
          margin-right: 10px;
          width: auto;
          .logo-img {
            margin-right: 4px;
            width: 20px;
          }
        }
        .logo-link p:hover {
          color: #fff;
        }
        p,
        .footer-date {
          color: #ccc;
          font-size: 1em;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
    .footer-nav-container {
      flex-grow: 1;
      height: 100%;
      .footer-nav-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: flex-end;
        width: auto;
        .nav-link {
          color: #ccc;
          font-weight: 400;
          margin-left: 15px;
          text-transform: capitalize;
        }
        .nav-link:hover {
          color: #fff;
        }
      }
    }
  }
}