.header-section,
.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 50px;
  justify-content: center;
  width: 100%;
  .header-container {
    background-color: #444;
    height: 50px;
    .header-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 50px;
      justify-content: space-between;
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 10px;
      width: 100%;
      .logo-container {
        height: 100%;
        padding-right: 10px;
        width: auto;
        .logo-wrapper {
          height: 100%;
          width: auto;
          .logo-link {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: flex-start;
            width: auto;
            .logo-img {
              width: 35px;
            }
          }
          h1 {  
            color: #fff;
            font-size: 1.6em;
            font-weight: 400;
            text-transform: capitalize;
          }
        }
      }
      .header-nav-container {
        flex-grow: 1;
        height: 100%;
        .header-nav-wrapper {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          height: 100%;
          justify-content: flex-end;
          width: auto;
          .nav-link {
            align-items: center;
            border: solid 1px #fff;
            border-radius: 3px;
            color: #fff;
            display: flex;
            font-weight: 500;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 32px;
            justify-content: center;
            margin-left: 15px;
            padding: 0 15px;
            text-transform: capitalize;
            width: auto;
            .signup-btn {
              background-color: #fff;
              color: #444;
            }
          }
          .nav-link:hover {
            background-color: #fff;
            color: #444;
          }
          .signup-btn:hover {
            background-color: #94bc19;
            border-color:#94bc19;
            color: #fff;
          }
        }
      }
    }
  }
}
.subheader-container,
  .subheader-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 36px;
    justify-content: center;
    width: 100%;
    .subheader-wrapper {
      background-color: #94bc19;
      height: 36px;
      .subheader-nav-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 50px;
        justify-content: space-between;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
        .subheader-actions-wrapper,
        .subheader-nav-wrapper {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          height: 100%;
          justify-content: flex-end;
          width: auto;
          .subnav-link {
            align-items: center;
            color: #fff;
            display: flex;
            font-weight: 500;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: center;
            padding: 0 15px;
            text-transform: capitalize;
            width: auto;
          }
          .subnav-link:hover {
            background-color: #86aa18;
            color: #fff;
          }
        }
        .subheader-actions-wrapper {
          justify-content: flex-start;
        }
      }
    }
  }